/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: rgb(250, 249, 194);
}
h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divGeneralProductos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;

}
  

/* productos */
.divProductos {
  background-color: rgb(245, 230, 173);
  border-radius: 12px;
  overflow: hidden;        
  display: flex;
  flex-direction: column; 
  margin: 20px;
  font-size: 15px;
}

.imagenProductos {
  margin: 5px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  display: block;
  align-self: center;
  margin-top: 20px;
  border-radius: 5px;
}

.marcaProductos .tipoProductos{
  display: flex;
  flex-direction: column;
}

.contenedorProductos{
    display: flex;
    margin-left: 32px;
    
}
.precioProductos {
  font-weight: bold;
  color: rgb(5, 5, 5);
  margin-left: 32px;
  
}

.tipoProductos{
    margin-left: 3px;
}

/* button{
    
} */
  

.logoMarca{
  height: 50px;
  width: auto;
  display: inline-block;
}

/* carrito */
#contenedorCarrito{
  display: flex;
}
.imgCarrito{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 10px;
}

#seccionCarrito{
  display: grid;
  grid-template-columns: 50px auto;
  margin-top: 20px;
}

#contenedorCarrito{
  background-color: rgb(245, 230, 173);
  margin-left: 20px;
  margin-right: 20px;
}

.marcas{  
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#marcas{
  display:flex;
  justify-content: center;
  gap: 20px;
}